.container{
background-color:#ffffff;
min-width: 450px;
max-height: 800px;
margin:100px 200px;
padding:50px;
padding-bottom:500px;
border-radius:100px;
box-shadow:0 0 3px #ffffff;
}
p{
	font-size:25px;
	font-weight:bold;
}
.submenu{
	display:none;
	list-style-type:none;
    
    
}
li:hover >.submenu{
display:block;	
}
#blockmenu{
	
	border:5px dotted red;
	background-color:#22ff00;
    min-width:400px;
    height:60px;
}
.menu {
	display:inline-block;
	border:3px solid blue;
	list-style-type:none;
	background-color:#ffaa00;
	padding:5px 10px;	
	margin:10px 40px;
}
a{
	font-size:20px;
	text-decoration:none;
}
.block1{
 position: absolute;
    
    
}
.block2{
   
    position:absolute;
    left:565px;
    top:233px;

}
.block3{
    position:absolute;
    top:233px;
    left:400px;
}
.container2{
    margin-top:10px;
    background-color:blue;
}
.colum1{
    border:3px solid black;
    float:left;
    margin-right:20px;
    background-color: green;
}
.colum2{
    border:3px solid black;
    float:left;
    background-color: green;
}
.clearfix{
    clear:both;
}

body{
	background-color:#00ff00;
background-image:url(../images/apple.png);
background-size:64px 64px;
background-position:left top;
}