p{
	font-size:25px;
	font-weight:bold;
background-color:#ffffff;
margin-left:300px;
margin-right:300px;
margin-top:100px;
padding:50px;
padding-bottom:500px;
border-radius:100px;
box-shadow:0 0 3px #ffffff;
}



body{
	background-color:#999999;
background-image:url(/images/horse.png);
background-position:left top;
}
